.title {
 display: flex;
 justify-content: center;
 margin-top: 32px;
}

.content {
  width: 600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 24px;
}

.button-wrapper {
  display: flex;
  justify-content: center;

}
.button-wrapper button {
  width: 200px;
}
.tabel-user {
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;  
}
.tabel-user .card {
  margin-left: 16px;
  margin-right: 16px;
}
.card-display {
display: flex;
justify-content: space-between;
}
.card-display .close-button:hover {
cursor: pointer;
}

.divider {
  height: 1px;
  background: black;
}

